.container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.description {
    margin: 0;
    padding: 0;
    font-size: 5px;
}

.spinner {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}

.results {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    margin: 20px;
}
