@import '../../themes/themes.scss';

.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
.bAndS {
    color: $primary;
}